:root {
  --bg: black;
  --altBg: rgb(10,10,10);
  --red: #cc0e0e;
  --white: #ffffff;

  --fontMain: 'Courgette', cursive;
  --fontHero: 'Open Sans', sans-serif;
  --fontBody: 'Roboto', sans-serif;
}

h1, h2, h3, h4, p {
  color: #ffffff;
}
